.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #475569;
  font-family: 'Roboto';
  background-color: white;
}
.time {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}
.name {
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
}
.logo {
  height: 50px;
  margin-left: 10px;
  width: 50px;
}
.url {
  color: #475569;
  font-weight: 500;
  font-size: 10px;
  margin-left: 20px;
}
.delete-icon {
  height: 30px;
  width: 30px;
}
